<div class="container p-3" th:fragment="contenido">
  <div class="card p-4">
    <div class="row">
      <div th:if="${exito}" class="alert alert-success alert-dismissible fade show">
        <span th:text="${exito}"></span>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
      <div th:if="${error}" class="alert alert-danger alert-dismissible fade show">
        <span th:text="${error}"></span>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    </div>

    <div class="row mb-5">
      <div class="col h2">Listado de áreas</div>
      <a href="/areas/crear" class="col-auto btn btn-lg btn-success">
        <i class="fa-solid fa-plus"></i>
      </a>
    </div>
        
    <table id="areas" class="display" style="width:100%"> <!-- Lista de Áreas -->
      <thead>
        <tr>
          <th>ID</th>
          <th>Nombre</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="a : ${areas}">
          <td th:text="${a.id}"></td>
          <td th:text="${a.nombre}"></td>
          <td>
            <a class="btn btn-primary" th:href="@{'/areas/{id}' (id=${a.id})}">
              <i class="fa-solid fa-eye"></i>
            </a>

            <a class="btn btn-secondary" th:href="@{'/areas/editar/{id}' (id=${a.id})}">
              <i class="fa-solid fa-pencil"></i>
            </a>

            <form class="d-inline" th:action="@{'/areas/{id}' (id=${a.id})}" th:method="DELETE">
              <button type="submit" class="btn btn-danger" onclick="return confirm('¿Seguro de eliminar?')">
                <i class="fa-solid fa-trash-can"></i>
              </button>
            </form>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<script th:fragment="script">
  $(document).ready(function() {
    $('#areas').DataTable();
  } );
</script>