<div class="container my-auto p-3" th:fragment="contenido">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header h3" th:text="|Ver Área nº ${area.id}|"></div>
        <div class="card-body">
          <div class="row">
            <div class="col-6">
              <p class="h4">AREA:</p>
              <p th:text="${area.nombre}"></p>
            </div>
          </div>
          <div class="d-flex justify-content-center">
            <a href="/areas" class="btn btn-secondary m-0">Volver</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script th:fragment="script"></script>