<nav class="navbar navbar-expand-lg bg-body-secondary" th:fragment="header">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Red CoaTIC</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarScroll">
      <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Link
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" aria-disabled="true">Link</a>
        </li>
        <li class="nav-item" sec:authorize="isAuthenticated()">
          <form class="form-inline" th:action="@{/logout}" method="POST">
            <button class="btn btn-link nav-link active" type="submit" onclick="return confirm('¿Seguro de cerrar sesión?')">
              <i class="fa-solid fa-right-from-bracket"></i> Cerrar sesión
            </button>
          </form>
        </li>
        <li class="nav-item" sec:authorize="isAnonymous()">
          <a class="nav-link active" aria-current="page" href="/login">
            <i class="fa-solid fa-right-to-bracket"></i> Iniciar sesión
          </a>
        </li>
        <li class="nav-item" sec:authorize="isAnonymous()">
          <a class="nav-link active" aria-current="page" href="/registro">
            <i class="fa-solid fa-user-plus"></i> Registrarse
          </a>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>